.texto-secciones{
    position: absolute;
    color: black;
    font-size: 45px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    margin-left: -14px;
    
}

@media screen and (min-width: 768px) {
    .texto-secciones{
        color: black;
        font-size: 55px;
        font-weight: 900;
        -webkit-text-stroke: 2px white;
        margin-left: -16px;
        
        
    }
    
}




